body {
    background-color: rgb(252, 230, 252);
}

.nav {
    max-width: 100vw;
    height: 60px;
    position: relative;
    background-color: thistle;
    display: flex;
}

#Title {
    top: 5px;
    position: relative;
    display: block;
    align-self: center;
    margin-left: 20px;
}

.icon-div {
    display: none;
}

.read-book-icon {
    height: 35px;
    width: auto;
    position: relative;
    left: 10px;
    align-self: center;
}

.search-icon {
    position: relative;
    display: block;
    height: 30px;
    width: auto;
    left: 35px;
    align-self: center;
}

.book-search-input {
    position: relative;
    display: block;
    height: 20px;
    width: auto;
    top: 20px;
    left: 35px;
    border-radius: 10px;
}

.end-nav-bar-items {
    margin-left: auto;
    margin-right: 10px;
    width: 292px;
    display: flex;
    position: relative;
}

.plus-icon {
    height: 20px;
    width: auto;
    position: relative;
    display: block;
    align-self: center;
}

.person-profile {
    height: 30px;
    width: auto;
    left: 20px;
    position: relative;
    display: block;
    align-self: center;
}

#new-book-title {
    font-size: 20px;
    position: relative;
    display: block;
    align-self: center;
    top: 3px;
    left: 4px;
}

#account-title {
    font-size: 20px;
    position: relative;
    display: block;
    align-self: center;
    top: 3px;
    left: 25px;
}

#options {
    height: 20px;
    width: auto;
    left: 45px;
    position: relative;
    align-self: center;
}


@media (max-width: 850px) {
    .nav {
        flex-flow: column;
    }
    .read-book-icon {
        display: none;
    }
    .search-icon {
        display: none;
    }
    .book-search-input {
        display: none;
    }
    .icon-div {
        margin: 5px;
        position: relative;
        display: flex;
        align-self: center;
    }
    .read-book-icon2 {
        margin: inherit;
        display: block;
        height: 35px;
        width: auto;
    }
    .search-icon2 {
        position: relative;
        margin: inherit;
        display: block;
        height: 30px;
        width: auto;
    }
    .book-search-input2 {
        position: relative;
        display: block;
        height: 20px;
        width: 200px;
        top: 10px;
        border-radius: 10px;
    }
    .end-nav-bar-items {
        margin: auto;
    }
}